body {
    padding: 0;
    margin: 0;
    
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.sidebar {
    background-color: black;
    width: 20%;
    height: 90vh;

}

.sidebar__divtop {
    margin: 1rem 1rem;
    background-color: #121212;
    color: whitesmoke;
    height: 5rem;
    border-radius: 1.2rem;
    height: 8rem;
}

.sidebar__divtop__home {
    margin-bottom: 2rem;
    margin-left: 1.7rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
    
}

.sidebar__divtop__search {
    margin-top: 1rem;
    margin-left: 1.7rem;
    font-size: 1.2rem;
    opacity: 0.7;
    
}

.sidebar__divtop i {
    padding-right: 0.5rem;
}

.sidebar__divtop__home:hover {
    opacity: 1;
    cursor: pointer;

}
.sidebar__divtop__search:hover {
    opacity: 1;
    cursor: pointer;

}

.sidebar__divbottom {
    color: whitesmoke;
    margin: 1rem;
    background-color: #121212;
    border-radius: 1.2rem;
    height: 28rem;
    font-size: 1.2rem;
}

.sidebar__divbottom img {
    width: 1.2rem;
    padding-right: 0.5rem;
}

.sidebar__divbottom__header {
    display: flex;
    margin: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
}

.sidebar__divbottom__header__divleft {
    padding-left: 1rem;
    opacity: 0.7;
}

.sidebar__divbottom__header__divleft:hover {
    opacity: 1;
    cursor: pointer;
}

.sidebar__divbottom__header__divright {
    opacity: 0.7;
}

.sidebar__divbottom__header__divright:hover {
    opacity: 1;
}

.sidebar__divbottom__middle {
    background-color: #232323;
    margin: 1rem;
    border-radius: 1.2rem;
    height: 8.5rem;
}

.sidebar__divbottom__middle p {
   padding-top: 0.5rem;
   padding-left: 0.3rem;
}

button {
    margin-bottom: 0.5rem;
   margin-left: 0.6rem;
   border-radius: 1.2rem;
   height: 2rem;
   width: 7.9rem;
   font-weight: 700;
   
   
}

.sidebar__divbottom__middle__p1 {
    font-weight: 700;
}

.sidebar__divbottom__middle__p2 {
    opacity: 0.9;
    font-size: 1rem;
}
button:hover {
    height: 2.1rem;
    width: 6.9rem;
}

.sidebar__divbottom__middle__2 {
    height: 13rem;
}



.content {
    background-color: black;
    width: 80%;
    height: 90vh;
    overflow: auto;

}

.sticky__nav__content {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #121212;
    margin-top: 1rem;
    margin-left: 0.2rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.2rem 1.2rem 0 0;
    
}

.sticky__nav__content__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.sticky__nav__content__right p {
    padding-right: 1.2rem;
    font-size: 1.3rem;
    opacity: 0.7;
}

.sticky__nav__content__right p:hover {
    opacity: 1;
    cursor: pointer;
}



.cards__content {
    color: whitesmoke;
    background-color: #121212;
    height: 100vh;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    border-radius: 1.2rem;
    
    
}

.cards__content h2{
    margin-left: 1.2rem;
    padding-top: 1.2rem;

}

.cards__container {
    display: flex;
    justify-content: space-around;
    
}

.card1 {
    width: 12rem;
    border: 2px solid white;
    height: 16rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    margin-left: 1.2rem;
}

.card1:hover {
    box-shadow: 2px 2px 4px grey;
    background-color: #343434;
}

.card1__firstdiv {
    width:80%;
    height: 60%;
    border-radius: 1.2rem;
    padding-top: 1.3rem;
    
}
 
.card1 div img {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
}

.card1__seconddiv {
    margin-left: 1.2rem;
}

.card1__div__p1 {
    font-weight: 700;
    font-size: 1.2rem;
}

.card1__div__p2 {
    opacity: 0.7;
    
}


.content__footer div {
    color: white;
}

.content__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px 0px 2px 0px solid white;
}

.content__footer__ul {
    display: flex;
    justify-content: space-evenly;
}


.content__footer__ul div {
    padding: 2rem;
}


.content__footer__ul p {
    opacity: 0.7;
}

.content__footer__ul p:hover{
    opacity: 1;
    text-decoration: underline;
}

.content__footer_socialmedia {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
}

.content__footer_socialmedia i {
    font-size: 1.2rem;
}

.content__footer_socialmedia i:hover {
    font-size: 1.5rem;
    background-color: #3d3d3d;
}

.footer {
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, rgb(206, 101, 118), rgb(80, 80, 220));
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__leftdiv__p2 {
    font-weight: 700;
    font-size: 1.1rem;
}

.footer__leftdiv {
    margin-right: 40rem;
}